@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container-custom {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}